extends _sidebar
block append head
    style.
        .bookings {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items:start;
            padding: 2rem;
            gap: 2rem;
        }
block sidebar 
    .bookings
        include tourList