extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password
            form.form#forgot-password-form
                .form__group
                    label.form__label(for='email') Email address
                    input.form__input(id='email' type='email' name='email' placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green(type='submit') Send reset link