extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your password
            form.form#reset-password-form
                .form__group
                    label.form__label(for='newPassword') Password
                    input.form__input(id='newPassword' type='password' name='newPassword' placeholder='*********', required)
                .form__group
                    label.form__label(for='confirmNewPassword') Confirm Password
                    input.form__input(id='confirmNewPassword' type='password' name='confirmNewPassword' placeholder='*********', required)
                .form__group
                    button.btn.btn--green(type='submit') Reset Password