extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create a new account
            form.form#signup-form
                .form__group
                    label.form__label(for='name') Full Name
                    input.form__input(id='name' type='text' name='name' placeholder='Arthur Morgan', required)
                .form__group
                    label.form__label(for='email') Email address
                    input.form__input(id='email' type='email' name='email' placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' name='password' placeholder='***********', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password-confirm') Confirm Password
                    input.form__input(id='password-confirm' type='password' name='passwordConfirm' placeholder='***********', required, minlength='8')
                .form__group
                    button.btn.btn--green(type='submit') Create Account